<!-- Card -->
<div class="card promoting-card mt-3">

  <!-- Card content -->
  <div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <img src="https://lh3.googleusercontent.com/a-/AOh14Gg5SL_KUHqurzMV2fzJrib1Auq2jtF8kpeMuZZuDA4=s96-c-rg-br100"
      class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

      <!-- Title -->
      <h4 class="card-title font-weight-bold mb-2">Transforming Data Using Pipes</h4>
      <!-- Subtitle -->
      <p class="card-text"><i class="far fa-clock pr-2"></i>Byron Loarte</p>

    </div>

  </div>

</div>
<!-- Card -->


<div class="alert alert-info" role="alert">
  Principalmente los pipes nos permiten transformar visualmente nuestros datos, de esta manera podemos mostrar datos con
  una mejor
  experiencia de usuario, un ejemplo muy practico es el de la fecha, seguramente la mayoría de nosotros prefiere ver un
  formato de fecha como 6 may. 2017 en el lugar de Sat May 06 2017 19:00:00 GMT-0500 (Hora est. Pacífico, Sudamérica).
  <br>
  <a href="https://angular.io/guide/pipes" target="_blank">Documentación Oficial</a>
</div>

<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>{{arregloNumeros}}</td>
          <td>slice:1:4</td>
          <td>{{arregloNumeros | slice:1:4}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>decimal:'1.0-0' </td>
          <td>{{PI | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>decimal:'.0-4'</td>
          <td>{{PI | number:'.0-4'}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{porcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent::'2.2-3'</td>
          <td>{{porcentaje | percent:'2.2-3'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'USD'</td>
          <td>{{salario | currency:'USD'}}</td>
        </tr>
        <tr>
          <td>{{promersaNueva}}</td>
          <td>async</td>
          <td>{{promersaNueva | async}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'medium'</td>
          <td>{{fecha | date:'medium'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'short'</td>
          <td>{{fecha | date:'short'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM-dd'</td>
          <td>{{fecha | date:'MMMM-dd'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM-dd':'':'{{idioma}}'
            <br>
            <button class="mr-1 btn btn-outline-secondary btn-sm" (click)="cambioIdioma('es')">ESPAÑOL</button>
            <button class="mr-1 btn btn-outline-info btn-sm" (click)="cambioIdioma('en')">INGLES</button>
          </td>
          <td>{{fecha | date:'MMMM-dd':'':idioma}}</td>
        </tr>
        <tr>
          <td>{{nombreDos}}</td>
          <td>uppercase</td>
          <td>{{nombreDos | pipespersonalizados}}</td>
        </tr>
        <tr>
          <td>{{passwordUsuario}}</td>
          <td>contraseña
            <br>
            <button class="mr-1 btn btn-outline-danger btn-sm" (click)="estado=!estado">Mostrar/Ocultar</button>
          </td>
          <td>{{passwordUsuario | contrasenia:estado}}</td>
        </tr>
      </tbody>
    </table>
    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
        {{movil | json}}
      </pre>
      </div>
    </div>
    <script>/*
<h3>IMAGENES</h3>
<hr>
<div class="row mb-5 mt-5">
<div class="col">
  <iframe width="560" height="315" [src]="urlVideo | domseguro" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
</div>
*/</script>
  </div>
</div>